<!--
  Generated template for the ChessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ajedrez</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <span>{{chessSrv.turno}}</span>
  <div class="tablero" ion-col>
    <ion-row class="bg-primary fila" *ngFor="let fila of tablero; let ifila = index;">
      <ion-col *ngFor="let casilla of fila; let icasilla = index" class="casilla" [ngClass]="{'black': (+icasilla % 2) !== (ifila % 2), 'white': (icasilla % 2) === (ifila % 2), 'attacked': casilla.attacked, 'movable': casilla.movable}" (click)="passPiece(casilla)">
        <div *ngIf="casilla.type" class="{{casilla.color}} {{casilla.type}}" [innerHTML]="casilla.type"></div>
        <div *ngIf="!casilla.type" class="transparent">A</div>
      </ion-col>
    </ion-row>
  </div>

  <div class="capturas" *ngIf="puntos">
    <ion-row>
      <ion-col class="Blanca">{{puntos.blancas}}</ion-col>
      <ion-col class="{{pieza.color}}" *ngFor="let pieza of capturas.blancas" [innerHTML]="pieza.type"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="Negra">{{puntos.negras }}</ion-col>
      <ion-col class="{{pieza.color}}" *ngFor="let pieza of capturas.negras" [innerHTML]="pieza.type"></ion-col>
    </ion-row>
  </div>
  <!-- <button ion-button name="ion-button" (click)="undoTurn()">Atrás</button>
  <button ion-button name="ion-button" (click)="next()">NEXT</button> -->

</ion-content>
